.main-cnt{
    padding: 2px;
}
.head-cnt{
    padding: 10px;
}
.buttons{
    padding: 10px;
}

.ml-10 {
    margin-left: 10px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid red;
  
    padding: 5px;
}

.p-20{
    padding: 20px;
}

.navbar {
    background: #dc3545;
    color: white;
}
/* .navbar-nav a, .navbar-brand {
    color: white;
} */

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    border-radius: 4px;
    background: white !important;
}
.required-field::before {
    content: "*"; 
    color: red;
  }


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}




button:hover {
  opacity: 0.8;
}

.signupbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #e03333;
  border-radius: 10px;
}

.loginbutton{
  border-radius: 10px;
}

/* .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
} */

/* img.avatar {
  width: 40%;
  border-radius: 50%;
} */

.container {
  padding: 16px;
}

span.password {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.password {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/* .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #60c7c1;
    padding: 15px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
} */

.height100{
  height: 100vh;
  background-color: #eee;
}

.nemorf {
  box-shadow: 12px 12px 16px 0 rgb(0 0 0 / 25%), -8px -8px 12px 0 rgb(255 255 255 / 30%);
  border-radius: 10px;
  background: white;
}

.login-footer {
  border-radius: 0 0 10px 10px;
  background-color:#f1f1f1
}


 
 
 #profilepic{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  top: 0px;
  left: calc( (350px ) / 2 )
 }


.container {
    max-width: 500px;
}
dl, ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.upload{
    padding-right: 5px;
    padding-left: 5px;
}

.profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 1px solid #eee;
}
.upload-form {
    border: 2px solid #d8d8d8;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    background: white;
}

.land {
    background: #eee;
    justify-content: center;
    display: flex;
}


.px-20 {
    padding: 0 20px;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-end {
    display: flex;
   justify-content: flex-end;
}

.mt-10 {
    margin-top: 10px;
}

.navnct {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
}